<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<p>
    <a href="/app/index/">首页</a>
</p>
<p>
    <a href="/app/addgoods/">添加商品</a>
</p>
<p>
    <a href="/app/changegoods/">修改商品</a>
</p>
<p>
    <a href="/app/showgoods/">显示商品信息</a>
</p>
<p>
    <a href="/app/getgoods/">获取单个商品</a>
</p>
<p>
    <a href="/app/aggregatetest/">聚合函数操作</a>
</p>
<p>
    <a href="/app/qtest/">Q对象使用</a>
</p>
<p>
    <a href="/app/ftest/">F对象使用</a>
</p>
<p>
    <a href="/app/delgoods/">删除商品</a>
</p>

</body>
</html>
