<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>Hello Django!</h1>
<h2>Template学习...</h2>
<hr>


<h3> 模板中变量使用 </h3>
<p>
    年龄: {{ age }} 岁
</p>

<p>
    成绩: {{ math }}
</p>
<hr>



<h3> 模板中 if </h3>
<!-- HTML语法 -->
{# 模板注释 #}
{% if name %}
    <p>
        用户名: {{ name }}
    </p>
{% else %}
    <p>
        <a href="#">登录</a>
        <a href="#">注册</a>
    </p>
{% endif %}

{# root超级用户 #}
{% if name == 'root' %}
    <p style="color: red;">
        超级管理员!
    </p>
{% elif name %}
    <p>
        用户名: {{ name }}
    </p>
{% else %}
    <p>
        用户未登录! 请
        <a href="#">登录</a>
        <a href="#">注册</a>
    </p>
{% endif %}
<hr>


<h3>标签for基本使用</h3>
{% for item in names %}
    <p>
        名字: {{ item }}
    </p>
{% endfor %}

{% for user in user_list %}
    <div>
        <span>{{ forloop.counter }}-</span>
        <span>用户名: {{ user.username }}</span>
        <span>成绩: {{ user.score }}分</span>
        <span>年龄: {{ user.age }}岁</span>
    </div>
{% empty %}
    <p>
        提示: 用户列表是空的!
    </p>
{% endfor %}
<br>




</body>
</html>
