<style>
    ul{
        overflow: hidden;
        list-style: none;
    }
    li{
        float: left;
        width: 80px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: 1px solid gray;
        margin: 5px;
    }
    li a{
        color: black;
        text-decoration: none;
    }
    .active{
        background: red;
        border-color: red;
        color: white;
    }
    .active a{
        color: white;
    }
</style>

<ul>
    <li class="
        {% ifequal active 'index' %}
            active
        {% endifequal %}
    ">
        <a href="{% url 'mt:index' %}">首页</a>
    </li>

    <li class="
        {% ifequal active 'cart' %}
            active
        {% endifequal %}
    ">
        <a href="{% url 'mt:cart' %}">购物车</a>
    </li>

    <li class="
        {% ifequal active 'mine' %}
            active
        {% endifequal %}
    ">
        <a href="{% url 'mt:mine' %}">我的</a>
    </li>

    <li class="
        {% ifequal active 'sort' %}
            active
        {% endifequal %}
    ">
        <a href="{% url 'mt:sort' %}">分类</a>
    </li>

    <li class="
        {% ifequal active 'setting' %}
            active
        {% endifequal %}
    ">
        <a href="{% url 'mt:setting' %}">设置</a>
    </li>
</ul>
