<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>1、参数基本操作</h1>
<p>
    <a href="{% url 'app:detail' 1 %}">商品1</a>
</p>
<p>
{#    <a href="/detail/2/">商品2</a>#}
    <a href="{% url 'app:detail' 2 %}">商品2</a>
</p>
<p>
{#    <a href="/detail/3/">商品3</a>#}
    <a href="{% url 'app:detail' 3 %}">商品3</a>
</p>
<p>
{#    <a href="#">商品4</a>#}
    <a href="{% url 'app:detail' 4 %}">商品4</a>
</p>

<p>
    <a href="{% url 'app:urlarg' 2 10 '参数传递' %}">URL参数</a>
</p>

<p>
{#    <a href="{% url 'app:goods_detail' '家电' 10021 %}">参数传递(定义参数名称)</a>#}
     <a href="{% url 'app:goods_detail'  goods_id=10001 type_name='家电' %}">参数传递(定义参数名称)</a>
</p>

</body>
</html>
